<?xml version="1.0"?>

<launch>

  <arg name="sim" default="false"/>
  <arg name="config" default="ur5e.yaml"/>

  <node name="mogi_chess_robot_hw" pkg="mogi_chess_hw_interface" type="chess_robot_hw_if.py" output ="screen">
    <rosparam subst_value="true">
      sim: $(arg sim)
      config: $(arg config)
    </rosparam>
  </node>
</launch>