<launch>

  <arg name="sim" default="false"/>

  <include unless="$(arg sim)" file="$(find mogi_chess_vision)/launch/camera.launch">
  </include>

  <node name="aruco_detector" pkg="mogi_chess_vision" type="aruco_detector.py" respawn="false" output="screen">
  </node>

  <node name="split_and_save" pkg="mogi_chess_vision" type="split_and_save.py" respawn="false" output="screen">
    <rosparam subst_value="true">
      sim: $(arg sim)
    </rosparam>
  </node>

</launch>