<launch>

  <arg name="sim" default="false"/>

  <include unless="$(arg sim)" file="$(find mogi_chess_vision)/launch/camera.launch">
  </include>

  <node unless="$(arg sim)" name="clock_node" pkg="mogi_chess_hw_interface" type="chess_clock_hw_if.py" respawn="false" output="screen">
  </node>

  <node name="aruco_detector" pkg="mogi_chess_vision" type="aruco_detector.py" respawn="false" output="screen">
  </node>

  <node name="board_visualizer" pkg="mogi_chess_vision" type="board_visualizer.py" respawn="false" output="screen">
  </node>

  <node name="split_and_track" pkg="mogi_chess_vision" type="split_and_track.py" respawn="false" output="screen">
    <rosparam subst_value="true">
      sim: $(arg sim)
    </rosparam>
  </node>

</launch>